*.agdai
*.hi
*.o
*.dyn_o
*.dyn_hi
.stack-work
dist
dist-newstyle
MAlonzo
cedille
cedille-mac
cedille-optimized
cedille-profile
cedille-tests/*/actual
*.prof
*-speed-test.txt
libraries
src/CedilleCommentsLexer.hs
src/CedilleLexer.hs
src/CedilleOptionsLexer.hs
src/CedilleOptionsParser.hs
src/CedilleParser.hs
parser/src/CedilleParser.info
src/templates/TemplatesCompiler
*.cedille
*.racket
*~
cedille-deb-pkg
cedille-deb-pkg.deb
cedille-mac-pkg
cedille-src-pkg
cedille-src-pkg.zip
.DS_Store
*.aux
*.bbl
*.blg
*.log
*.elc
core/cedille-core
core/cedille-core-mac
