*.agdai
*.hi
*.o
*.dyn_o
*.dyn_hi
MAlonzo
cedille
libraries
src/CedilleCommentsLexer.hs
src/CedilleLexer.hs
src/CedilleOptionsLexer.hs
src/CedilleOptionsParser.hs
src/CedilleParser.hs
src/templates/TemplatesCompiler
*.cedille
*.racket
*.*~
cedille-deb-pkg
cedille-deb-pkg.deb
cedille-mac-pkg
.DS_Store
*.aux
*.bbl
*.blg
*.log